fastapi                 # The web server framework
uvicorn                 # Runs the web server
pytest                  # The testing engine
pytest-cov              # Measures test coverage
pytest-mock	            # Mocks external dependencies in tests
flake8                  # The code style checker
google-genai	        # Modern Gemma 3 API connection
qdrant-client           # Vector database connection
beautifulsoup4          # HTML parsing for the crawler
requests                # HTTP requests for scraping
azure-identity          # Authenticates via Managed Identity or CLI
azure-keyvault-secrets  # Fetches Gemma and Qdrant keys from the Vault
locust                  # User traffic simulation
streamlit               # Frontend UI framework